[MASTER]
#load-plugins=pylint_django

#django-settings-module=compute.settings

logging-format-style=new

[MESSAGES CONTROL]
#enable=R,
#        missing-function-docstring

enable=all

disable=line-too-long,
        locally-disabled,
        suppressed-message
        #missing-function-docstring,
        #missing-module-docstring,
        #missing-class-docstring,

#generated-members=cv2.* o3d.* cv.*
generated-members = o3d.* open3d.*

[BASIC]

good-names=i,
           j,
           s,
           p,
           sx,sy,sz,
           vx,vy,vz,
           tm
